@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 style="font-family:Algerian" class="display-4">Welcome Candidate for the Role Supreme Wizard of Ancient Babylon</h1>
    
</div>

<h1 style="text-align:center"><a href="/home/registration">Please Click Here to Register</a></h1>
